<!DOCTYPE html>
<html lang="en">

  <%- include('./partials/header') %>

<body>

  <%- include('./partials/nav') %>
  <div class="content">

    <%- include('partials/sidebar') %>
    <main>

      <% if (grades) { %>
        <h2>List of available Grades</h2>
        <ul>
          <% grades.forEach(grade => { %>
            <li>
              <a href="grades/<%= grade._id %>"><%= grade.grade_level %></a>
            </li>
          <% }) %>
        </ul>
      <% } %>
      <h1>Add New Grade</h1>
  
      <form action="/grade/new" method="post">
    
        <label for="grade_level">Grade Level:</label>
        <select name="grade_level" id="grade_level">
          <option value="Grade 1">Grade 1</option>
          <option value="Grade 2">Grade 2</option>
          <option value="Grade 3">Grade 3</option>
          <option value="Grade 4">Grade 4</option>
          <option value="Grade 5">Grade 5</option>
        </select>
        
        <button>submit</button>
    
      </form>
    
    </main>

  </div>

  <%- include('./partials/footer') %>

</body>
</html>